.avatar {
	border-radius: 8px;
}

.attachment {
	border-radius: 8px;
	background: black;
}

.toot-text, .toot-text text{
    background-color: transparent;
}

.header{
    background-size: cover;
    background-position: 50%;
    opacity: 0.15;
}

.relationship {
    background: rgba (0,0,0,.5);
    padding: 6px;
    border-radius: 3px;
    color: #fff;
}
